{% extends "admin/admin.html" %}

{% block title %}View-Doctors{% endblock %}

{% block admin %}
<div class="d-view" style="justify-self: center;">
    <p style="text-align: center;">Registered Doctors</p>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Specialty</th>
            <th>Contact</th>
            <th>Day</th>
            <th>Password</th>
            
        </tr>
        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.id }}</td>
            <td>{{ doctor.full_names }}</td>
            <td>{{ doctor.email }}</td>
            <td>{{ doctor.time_in }}</td>
            <td>{{ doctor.time_out }}</td>
            <td>{{ doctor.specialty }}</td>
            <td>{{ doctor.contact }}</td>
            <td>{{ doctor.day }}</td>
            <td>********</td>
        </tr>
        {% endfor %}
    </table>
<p style="text-align: center; margin-top: 20px;">
<button class="print-btn" onclick="window.print()">Print Records</button>
</p>
</div>
{% endblock %}